html {
  height: 100%;
}

body {
  height: 100%; 
 }
 
 #root {
   height: 100%;
 }
/* 
a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  top: 25%;
  left: 25%;
  text-align: center;
  width: 700px;
  position: fixed;
  float: center;
  z-index: 10;
}

.container {
  margin: 0 auto;
  /*text-align: center;*/
  /* width: 700px; */
  /*position: fixed;*/
  /*float: center;*/
  /*z-index: 10;*/
/*}*/

/* .card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
} */



