
.mapContainer{
  height: 45vh; 
  display: block;
  position: sticky;
}
.map{
	float: left;
    width: 100%;
    clear: both;
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
.searchContainer {
  height: 15vh; 
  display: block;
  position: sticky;
}

.appContainer {
  height: 95vh; 
  display: block;
  position: sticky;
}


