.searchContainer {
  height: 15vh; 
  display: block;
  position: sticky;
}

.appContainer {
  height: 95vh; 
  display: block;
  position: sticky;
}
.mapContainer{
  height: 45vh; 
  display: block;
  position: sticky;
}
