/* TODO: shadowing */
.entryList {
  display: flex;
  margin: 5px;
  float: left;
}

/* TODO: animation on hover and click*/
.entryListItem {
  padding: 15px; 
  margin: 15px; 
  border: 1px solid red; 
  width: 100%; 
  height: 60px;
}

/* TODO: shadowing */
.favEntryList {
  display: flex; 
  flex-wrap: wrap; 
  height: 250px; 
  width: 40%; 
  overflow-y: scroll;
  float: right;
}

/* TODO: animation on hover and click*/
.favEntryListItem {
  padding: 15px; 
  margin: 15px; 
  border: 1px solid red; 
  width: 100%; 
  height: 60px;
}

/* TODO: responsive with parent */
.imageEntryListItem {
  height: 100%; 
  width: 25%;
}

/* TODO: responsive with parent */
.imageFavEntryListItem {
  height: 100%; 
  width: 25%;
}

/* TODO: responsive with parent */
.textBoxListItem {
  float: right;
}

/* TODO: responsive with parent */
.textBoxFavListItem {
  float: right;
}
